h2 {
    font-weight: normal;
    font-size: 30px;
}

h3 {
    font-size: 18px;
}
h6 {
    color: #5F6368;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #5F6368;
    font-size: 18px;
}
a:hover {
    text-decoration: green wavy underline;
}
a.mail {
    color: blue;
}
div.navbar-homelogo a:hover {
    text-decoration: none;
}

p {
    color: #5F6368;
}

a.anone {
    text-decoration: red underline dotted;
}


