* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.background-image {
    width: 100%; 
    height: 100%; 
    background-attachment: fixed; 
    background-size: cover;
    position: fixed;
}

div.background-color {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
}



h1 {
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 260px;
    color: #2EC4B6;
}
h2 {
    font-size: 27px;
    margin-bottom: 10px;
}
h5 {
    margin-top: 10px;
    font-weight: normal;
}

a {
    color: black;
}
a:hover {
    color: #2EC4B6;
}
h2 a {
    text-decoration: none;
}
a.external:after {
    content: "";
    display: inline-flex;
    height: 20px;
    width: 20px;
    margin-left: 8px;
    background-image: url(externalsvg.svg);
    background-size: cover;
}

p {
    font-size: 20px;
    color: #5F6368;
}

iframe {
    margin-bottom: 10px;
}





div.body1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    z-index: 8;
}


.tab {
    position: sticky; 
    top: 0px;
    margin-bottom: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9;
}
.tab-2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff99;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
  
.tab button.tablinks {
    background: none;
    font-size: 25px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 99px;
    font-weight: bold;
    color: black;
}
.tab button.tablinks:hover {
    color: #2EC4B6;
}
.tab button.tablinks.active {
    color: #2EC4B6; 
    background-color: rgba(255, 255, 255, 0.3);
}


button.trierlinks {
    background: none;
    font-size: 20px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
}



.tabcontent {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 20px;
    display: none;
    animation: fadeEffect 0.45s;
}
.tabcontent:hover {
    background-color: white;
}

  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.displaynone {
    display: none;
}

.zoomh {
    transition: transform .2s;
}
.zoomh:hover {
    transform: scale(1.09);
}

@media screen and (max-width: 1280px) {
    div.body1 {
        width: 90%;
    }
    .tab-2 {
        width: 90%;
    }
}



.accordion {
    color: #5F6368;
    display: flex;
    margin-left: auto;
    margin-right: auto;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    padding: 4px 16px;
    padding: 18px;
  }
.active, .accordion:hover {
    color: black;
}
.panel {
    display: none;
    overflow: hidden;
    width: 100%;
}
.panel img {
    margin-top: 10px;
    width: 100%;
}